@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes 1rem = 10px */
}

body {
  background-color: #8ecae6;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.title-count {
  text-transform: uppercase;
  color: #ffb703;
  font-size: 5.7rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container {
  background-color: #023047;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5rem;
  width: 900px;
  height: 500px;
  
}

.countdown-container {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.wrapper {
  background-color: beige;
  display: grid;
  /* flex-wrap: wrap; */
  /* padding: 3rem; */
  min-width: 15rem;
  min-height: 15rem;
  gap: 1rem;
  grid-template-columns: 1fr;
  border-radius: 5px;
  position: relative;
}

/* .test-c {} */

.wrapper .big-text {
  writing-mode: sideways-lr; 
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .3rem;
  /* padding-bottom: 1rem; */
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 5px;

}

.number {
  align-self: center;
  justify-self: center;
  font-size: 5rem;
  
}

@media screen and (max-width: 800px) {
  .container {
    height: 100vh;
    border-radius: 0;
    padding: 0;
  }
  
  .countdown-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5rem;
  }


}
